page-doador {
}
ion-content{
	background-color: #059956!important;
}

#attention{
	color: orange;
}

#accepted{
	color: green;
}

#refused{
	color: red;
}

ion-card-header {
	text-align: center;
	font-size: larger!important;
}

.limiteDisponivel {
	text-align: center;
}