page-doador {
}

ion-content{
	background-color: #059956!important;
}

ion-icon{
	zoom:2.0!important;
}

#attention{
	color: orange;
	font-size: larger!important;
}

#accepted{
	color: green;
	font-size: larger!important;
}

#refused{
	color: red;
	font-size: larger!important;
}

#logo{
	max-height: 40px!important;
	align-items: right;
}

#titulo{
	line-height: 44px;
	text-align: center;
}

#valorDoacao{
	text-align: right;
}
ion-card-header {
	text-align: center;
	font-size: larger!important;
}

.limiteDisponivel {
	text-align: center;
}

h3{
	font-size: larger!important;
}

p{
	font-size: large!important;
}